# Python bytecode files
**/__pycache__/

# SQLite database file
*.db

# Python共通
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
venv/
env/
.venv/

# Flask用
instance/
.webassets-cache

# FastAPI用
.pytest_cache/

# IDE
.vscode/
.idea/
*.swp