body{
  margin: 0 20px;
  font-size: 15px;
}
a{
  text-decoration: none;
}

.task{
  margin:auto;
  max-width: 1200px;
}
table{
  border-collapse: collapse;
  width: 100%;
  font-size: 1rem;
  margin-top: 0.5em;
}
th,td{
  border:2px solid #fff;
  background-color: #e6f1f6;
  font-size: 1rem;
  padding: 1em ;
}
th{
  background-color: #4d96bc;
  color:#fff;
  font-weight: bold;
}
h1{
  text-align: center;
  font-size: 2.5rem;
}

.button{
  font-size: 0.9rem;
  padding: 0.2em 1em;
  border: none;
  border-radius: 0.5em;
  background-color:#e7e2e2 ;
  margin-top: 0.4em;
  color: black; 
}
.button-primary{
  font-size: 1.2rem;
  padding: 0.3em 3em;
  border: none;
  border-radius: 0.5em;
  background-color:#52a5ee ;
  margin-top: 0.2em;
  color:#fff; 
}

.button-right{
  text-align: right;
  margin-right: 0.3rem;
}
.button-container{
  display: flex;
  justify-content: center;
 
  position: relative;
}
.button-left{
  position: absolute;
  left: 0;
}

.button:hover{
  background-color: #a6a4a1;
  color :#fff;
}
.button-primary:hover{
  background-color: #0b6abe;
  color: #fff;
}

table a{
  font-size: 1rem;
  margin-left: 0.5em;
  
}
table input,select{
  width: 100%;
  padding: 5px ;
  border: 2px solid #ddd;
  box-sizing: border-box;
}

.red{
  color: rgb(238, 34, 34);
}
.done,.done a{
  color:#aeaead
}