{% extends "base.html" %}
{%block content%}
<h1>編集</h1>
<form method="POST">
  <table border="1">
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>期日</th>
      <th>ステータス</th>
    </tr>
    <tr>
      <td><input type="text" name="title" value="{{post.title}}"></td>
      <td><input type="text" name="content" value="{{post.content}}"></td>
      <td><input type="text" name="due_date" value="{{post.due_date}}"></td>
      <td><input type="text" name="completed" value="{{post.completed}}"></td>
    </tr>
  </table>
  <input type="submit" value="登録する">
</form>

{%endblock%}