{% extends "base.html" %}
{%block content%}
<h1>編集</h1>
<div class="task">
  <form method="POST">
    <table border="1">
      <tr>
        <th>タイトル</th>
        <th>内容</th>
        <th>期日</th>
        <th>ステータス</th>
      </tr>
      <tr>
        <td><input type="text" name="title" value="{{post.title}}"></td>
        <td><input type="text" name="content" value="{{post.content}}"></td>
        <td><input type="date" name="due_date" value="{{post.due_date}}"></td>
        <td>
          <select name="completed">
            <option value="0" {% if post.completed==0 %}selected{% endif %}>未完了</option>
            <option value="1" {% if post.completed==1 %}selected{% endif %}>完了</option>
          </select>
        </td>
      </tr>
    </table>
    <input type="submit" value="編集する" class="button">
    <a href="/" class="button">一覧へ戻る</a>
  </form>
</div>

{%endblock%}