{% extends "base.html" %}
{%block content%}
<h1>タスク管理アプリ</h1>
<div class="task">
  <a href="/regist" class="button">新規登録</a>
  <form action="/delete_all" method="post">
    
      <table border="1">
        <tr>
          <th></th>
          <th>タイトル</th>
          <th>内容</th>
          <th>期日</th>
          <th>ステータス</th>
          <th></th>
        </tr>
        {% for task in task_list %}
        <tr>
          <td class="{% if task.completed==1 %}done{% endif %}"><input type="checkbox" name="delete_all" value="{{task.id}}"></td>
          <td class="{% if task.completed==1 %}done{% endif %}">{{ task.title }}</td>
          <td class="{% if task.completed==1 %}done{% endif %}">{{ task.content }}</td>
          <td class="{% if task.completed==1 %}done{% endif %}">{{ task.due_date }}</td>
          <td class="{% if task.completed==1 %}done{% endif %}">
            {% if task.completed==0 %}
              未完了
            {% else %}
              完了
            {% endif %}
          </td>
          <td class="{% if task.completed==1 %}done{% endif %}">
            <a href="/{{task.id}}/edit">編集</a>
            <a href="/{{task.id}}/delete">削除</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    
    <button class="button">一括削除</button>
  </form>
</div>
{% endblock %}