{% extends "base.html" %}
{%block content%}
<h1>一括削除</h1>
{% if task_list==[] %}
<p>タスクが選択されていません</p>
{% else %}
<div class="task">
  <form action="/deletes" method="POST">
    <table border="1">
      <tr>
        <th></th>
        <th>タイトル</th>
        <th>内容</th>
        <th>期日</th>
        <th>ステータス</th>
      </tr> 
      {% for task in task_list %}
        <tr class="red">
          <td>
            <input type="hidden" name="deletes" value="{{task.id}}" >
          </td>
          <td>{{task.title}}</td>
          <td>{{task.content}}</td>
          <td>{{task.due_date}}</td>
          <td >
          {% if task.completed==0 %}
          未完了
          {% else %}
          完了
          {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    <div class="button-container">
      <a href="/" class="button button-left">一覧へ戻る</a>
      <input type="submit" value="すべて削除する" class="button-primary">
    </div>
  </form>
</div>
{% endif %}
{%endblock%}