{% extends "base.html" %}
{%block content%}
<h1>編集</h1>
<div class="task">
  <form method="POST">
    <table border="1">
      <tr>
        <th>タイトル</th>
        <th>内容</th>
        <th>期日</th>
        <th>ステータス</th>
      </tr>
      <tr>
        <td><input type="text" name="title" value="{{task.title}}"></td>
        <td><input type="text" name="content" value="{{task.content}}"></td>
        <td><input type="date" name="due_date" value="{{task.due_date}}"></td>
        <td>
          <select name="completed">
            <option value="0" {% if task.completed==0 %}selected{% endif %}>未完了</option>
            <option value="1" {% if task.completed==1 %}selected{% endif %}>完了</option>
          </select>
        </td>
      </tr>
    </table>
    <div class="button-container">
      <a href="/" class="button button-left">一覧へ戻る</a>
      <input type="submit" value="編集する" class="button-primary"> 
    </div>
  </form>
</div>

{%endblock%}