{% extends "base.html" %}
{%block content%}
<h1>ログイン画面</h1>
{% if error %}
  <p style="color: red;">{{ error }}</p>
{% endif %}
<div class="per-form">
  <form method="POST" class="form">
    <div class="input">
      <div >
        <label for="username">ユーザー名</label>
        <input name="username" type="text" required>
      </div>
      <div>
        <label for="password">パスワード</label>
        <input name="password" type="password" />
      </div>
    </div>
    <div>
      <input type="submit" value="ログイン" class="button-primary">
    </div>
    <a href="/signup" class="signup">新規ユーザー登録</a>
  </form>
  
</div>

{%endblock%}