{% extends "base.html" %}
{%block content%}
<h1>ユーザー登録画面</h1>
{% if error %}
  <p style="color: red;">{{ error }}</p>
{% endif %}
<div class="task">
  <form method="POST">
    <div>
      <label for="username">ユーザー名</label>
      <input name="username" type="text" required>
    </div>
    <div>
      <label for="password">パスワード</label>
      <input name="password" type="password" />
    </div>
    <div class="button-container">
      <input type="submit" value="登録" class="button-primary">
      <a href="/login" class="button-primary">ログイン画面へ戻る</a>
    </div>
  </form>
</div>
{%endblock%}